<div class="container">
	
<div class="row-fluid">
	<div class="span9">
		<div id="new-job">	
			<legend>Post Job for <%= @location.city %>  and NY Metro</legend>
		</div>	
	</div>
</div>

<%= render 'form' %>

</div>