	<div class="span12">
		<div id="find-token-heading">
			Add a contact instantly if you know the loop number:
			</div>


<%= search_form_for @search do |f| %>
<%= f.text_field :token_eq, :class => "find-token-field" %>
<% end %>
<br>

	</div>
</div>