<div class="row-fluid">
	<div class="span12">
		<div id="top-menu">	
			<div id="logo">
				<h3>Long Island Lists</h3>
			</div>	
		</div>	
	</div>
</div>

<div class="container">
	
	<div class="row-fluid">
		<div class="span9">
			<div id="new-jobs-heading">
				<legend>New Jobs</legend>
			</div>	
		</div>
		
		<div class="span3">
			<div id="whatsnew-heading">
				<legend>What's New</legend>
			</div>	
	</div>
	
</div>	
