<div class="container">

	<div class="row-fluid">
		<div class="span9">
			<div id="index-heading">
				<legend>Home</legend>
			</div>	
			
			<div class="row-fluid">
				<div class="span12">
					<div id="jobs-index-body">	
						<div id="jobs-index-body-heading">
						</div>	
						<h4>Find a Job</h4>
						<p>All Job posts are verified; no more get-rich-quick schemes.</p>
						<h6>coming soon</h6>
						<h4>Browse local Events</h4> 
						<p>Find opportunities to network and gain business connections.</p>
						<h4>Hire Trusted Professionals</h4>
						<p>Work with people who are known to be the best at what they do.</p>		
					</div>
				</div>
			</div>
			
		</div>	
	
	<div class="span3">
		<div id="whatsnew-heading">
			<legend>News</legend>
			<p>Want to keep informed of new events and postings?</p>
			<h5>Join our mailing list</h5>
			<%= render "newsletters/form" %>
		</div>	
	</div>
	</div>
	
	<hr>

</div>	