<div class="container">

	<div class="row-fluid">
		<div class="span9">
		
		</div>	
	
	<div class="span3">
		<div id="whatsnew-heading">
			<legend>News</legend>
			<h5>Join our mailing list</h5>
			<%= render "newsletters/form" %>
		</div>	
	</div>
	</div>
	
</div>	