<div class="container">
	<div class="container-css">
		<div class="row-fluid">
		<div class="span9">
			
			<div class="index-introduction-wrapper">
				<div class="index-introduction">
				Leverage your 
				<div id="intro-network">network.</div> Manage your <div id="intro-relationships">relationships.</div>
				</div>
			</div>
			
			<hr>
			<div id="index-heading">
				<% if user_signed_in? %>
				Welcome <%= current_user.email %>!
				 <% else %>
				Home
				<% end %>
			</div>	
			
			
		
		</div>	
	
	<div class="span3">
		<div class="sidebar">
			<div id="whatsnew-heading">
				<legend>News</legend>
					<h5>Join our mailing list</h5>
					<%= render "newsletters/form" %>
			</div>			
		</div>
	</div>
	
	</div>
	
	</div>
</div>	


<div class='bottom-menu'>
</div>