<%= form_for(@loop) do |f| %>
  <% if @loop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loop.errors.count, "error") %> prohibited this loop from being saved:</h2>

      <ul>
      <% @loop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
