<%= render 'dashboardedit' %>
<div class="container">
	<div class="row-fluid">
		<div class="span7">
				<div id="contact-list-heading">
					Edit Contact
				</div>
		</div>		
	</div>				
<%= render 'editform' %>
</div>