<div class="container">
<div class="row-fluid">
	<div class="span9">
		<div id="new-job">	
			<legend>Edit Contact
					<div id="loop-edit-button">
					<%= link_to @loop, :class => "btn" do %>
					<%= 'Back' %>
					<% end %>
					</div>
		     </legend>
		</div>	
	</div>
</div>

<%= render 'form' %>
</div>