<%= render 'dashboardnew'%>
<div class="container">
	<div class="row-fluid">
		<div class="span7">
				<div id="contact-list-heading">
					Add Contact
				</div>
		</div>		
	</div>				
<%= render 'addform' %>
</div>