// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#comment-section-body{
	color:RGBA(68.00, 68.00, 68.00, 1.00);
	font-size:16px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	padding:20px;
	
}

#comment-section-created_at{
	color:#666666;
	float:right;
	font-size:11px;
}
#comment-section{
	background:RGBA(179.00, 214.00, 237.00, 0.5);
	border:1px solid rgba(141, 140, 153, 0.200);
	margin-bottom:20px;
	
}

.loop-show-comment-form{
	background:RGBA(179.00, 214.00, 237.00, 0.5);
	font-size:16px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	color:RGBA(0.00, 0.00, 0.00, 1.00);
	width:100%;
	max-width:100%;
	border:none;
	outline: none !important;
	-moz-box-shadow: inset 0 0 3px #888;
	-webkit-box-shadow: inset 0 0 3px#888;
	box-shadow: inner 0 0 3px #888;
}