// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-menu{
	background-color:#F3F3F3;
	height:60px;
	border:1px solid lightgray;
	margin-bottom:20px;
}

#logo{
	left:20px;
	position:absolute;
	margin:20px;
}

a.logo-link-css{
	color:#444;
	text-decoration:none;
}

#new-jobs-heading{
}

#whatsnew-heading{
}

#menu1{
	left:280px;
	position:absolute;
	margin:20px;
}

#menu2{
	left:360px;
	position:absolute;
	margin:20px;
}

#menu3{
	left:520px;
	position:absolute;
	margin:20px;
}

#menu4{
	left:650px;
	position:absolute;
	margin:20px;	
}

#menu5{
	left:770px;
	position:absolute;
	margin:20px;	
}
