// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#first-bar{
	background-color:white;
	height:60px;
	border-bottom:2px solid white
}

#second-bar{
	background:lightgray;
	height:40px;
	border:1px solid darkgray;
}

.premium-service{
	color:#D18470;
	font-weight:bold;
	font-size:11px;
}

.coming-soon{
	color:#0088CC;
	font-weight:bold;
	font-size:11px;
}

.bottom-menu{
	position:absolute;
	background-color:#EEEEEE;
	height:100px;
	width:100%;
	border-top:solid 1px lightgray;
	bottom:0px;
}

#intro-network{
	display:inline;
	background-color:#0088CC;
	color:white;
	border-radius:5px;
	padding:5px;
}

#intro-relationships{
	display:inline;
	background-color:#0088CC;
	color:white;
	border-radius:5px;
	padding:5px;
}

.index-introduction-wrapper{
	margin-top:60px;
}

.index-introduction{
	font-size:26px;
}

.icon-user{
	color:green;
	font-size:20px;
}

#user-login{
	font-size:20px;
	margin:5px;
}

.logout-link{
	float:right;
}

#logo{
	color:black;
	margin:15px;
	font-size:20px;
	padding:5px;
	border-radius:5px;
	text-align:center;
}

.logo-link-css{
	color:black;
}

.logo-class:hover{
	color:white;
	text-decoration:none	
}

a.logo-link-css{
	color:#444;
	text-decoration:none;
}

#index-heading{
}

#new-jobs-heading{
}



#menu1{
	margin:10px;
	font-size:20px;
}

.menu1-link{
	color:#0088CC;
}

.menu1-link:hover{
	color:#0088CC;
	text-decoration:none;
}

.menu1-wrapper{
	margin-top:20px;
	height:40px;
	border-radius:5px;
}

.menu1-wrapper:hover{
	height:40px;
	color:#E2E2E1;
}

#menu2{
	margin:10px;
	color:#0088CC;
	font-size:20px;
}

.menu2-wrapper{
	height:40px;
	margin-top:20px;
}

.menu2-wrapper:hover{
	height:40px;
}

#menu3{
	margin:10px;
	color:#0088CC;
	font-size:20px;
}

.menu3-wrapper{
	height:40px;
	margin-top:20px;
}

.menu3-wrapper:hover{
	height:40px;
}

#menu4{
	margin:10px;
	color:#0088CC;	
	font-size:20px;
}

.menu4-link{
	color:#0088CC;
}

.menu4-link:hover{
	color:#0088CC;
	text-decoration:none;
}

.menu4-wrapper{
	height:40px;
	margin-top:20px;
}

.menu4-wrapper:hover{
	height:40px;
}
.signin-wrapper{
	background-color:#ECF7FE;
	padding:20px;
	border:1px solid lightgray;
}

.signin-button{
	background-color:#578CCC;
	color:white;
	border:1px solid #176DA7;
}

.email-signin{
	width:100%;
}

.email-signup{
	width:100%;
}

.forgot-password-field{
	width:100%;
}

.forgot-password-submit{
	width:100%;
	background-color:#578CCC;
	color:white;
	border:1px solid #176DA7;
}


