// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.premium-service{
	color:#D18470;
	font-weight:bold;
	font-size:11px;
}

.coming-soon{
	color:#0088CC;
	font-weight:bold;
	font-size:11px;
}


.bottom-menu{
	position:absolute;
	background-color:#EEEEEE;
	height:100px;
	width:100%;
	border-top:solid 1px lightgray;
	bottom:0px;
}

#top-menu{
	background-color:white;
	height:60px;
	margin-bottom:20px;
}

.icon-user{
	color:green;
	font-size:20px;
}

#user-login{
	float:right;
	margin-right:20px;
	font-size:20px;
}

.logout-link{
	float:right;
}

#logo{
	left:20px;
	position:absolute;
	margin:20px;
	font-size:20px;
}

a.logo-link-css{
	color:#444;
	text-decoration:none;
}

#index-heading{
}

#new-jobs-heading{
}

#jobs-index-body-heading{

}

#whatsnew-heading{
}

#menu1{
	min-width:200px;
	left:280px;
	position:absolute;
	margin:20px;
	font-size:20px;
}

.menu1-link{
	color:#ABADAF;
}

.menu1-link:hover{
	color:#0088CC;
	text-decoration:none;
}

#menu2{
	min-width:200px;
	left:360px;
	position:absolute;
	margin:20px;
	color:#ABADAF;
	font-size:20px;
}

#menu3{
	min-width:200px;
	left:460px;
	position:absolute;
	margin:20px;
	color:#ABADAF;
	font-size:20px;
}

#menu4{
	min-width:200px;
	left:620px;
	position:absolute;
	margin:20px;
	color:#D18470;	
	font-size:20px;
}

.menu4{
	color:#ABADAF;	
}

.menu4:hover{
	color:#018FD7;
	text-decoration:none;
}

#menu4-premium{
	width:50px;
	position:relative;
	left:650px;
	top:5px;
	color:#D18470;
	font-weight:bold;
	font-size:10px;
}

#menu5{
	min-width:200px;
	left:770px;
	position:absolute;
	margin:20px;	
}

.signin-wrapper{
	background-color:#ECF7FE;
	padding:20px;
	border:1px solid lightgray;
}

.signin-button{
	background-color:#578CCC;
	color:white;
	border:1px solid #176DA7;
}

.email-signin{
	width:100%;
}

.email-signup{
	width:100%;
}

.forgot-password-field{
	width:100%;
}

.forgot-password-submit{
	width:100%;
	background-color:#578CCC;
	color:white;
	border:1px solid #176DA7;
}
