// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bottom-menu{
	position:absolute;
	background-color:#EEEEEE;
	height:100px;
	width:100%;
	border-top:solid 1px lightgray;
	bottom:0;
}

#top-menu{
	background-color:#F3F3F3;
	height:60px;
	border:1px solid lightgray;
	margin-bottom:20px;
}

#logo{
	left:20px;
	position:absolute;
	margin:20px;
}

a.logo-link-css{
	color:#444;
	text-decoration:none;
}

#index-heading{
}

#new-jobs-heading{
}

#jobs-index-body-heading{

}

#whatsnew-heading{
}

#menu1{
	min-width:200px;
	left:280px;
	position:absolute;
	margin:20px;
}

#menu2{
	min-width:200px;
	left:360px;
	position:absolute;
	margin:20px;
}

#menu3{
	min-width:200px;
	left:460px;
	position:absolute;
	margin:20px;
}

#menu4{
	min-width:200px;
	left:620px;
	position:absolute;
	margin:20px;
	color:#D18470;	
}

.menu4{
	color:#D18470;	
}

#menu5{
	min-width:200px;
	left:770px;
	position:absolute;
	margin:20px;	
}
