// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#job-title{
}

.job-title-field{
	margin-left:20px;
	width:600px;
}

.job-description-field{
	width:600px;
	height:400px;
}

#new-job-submit{
	float:right;
}