// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#job-title{
	float:left;
	margin-right:10px;
}

.job-title-field{
	margin-left:20px;
	width:600px;
}

.job-description-field{
	width:600px;
	height:400px;
}

.job-link-field{
	margin-left:15px;
	width:600px;
}

.job-contact_info-field{
	width:600px;
	margin-left:-3px;
}


#new-job-submit{
	float:right;
}

#job-datetime-created{
	font-size:12px;
	color:#666;
}

a.post-jobs{
	float:right;
	color:#333;
}

