// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#job-title{
	float:left;
	margin-right:10px;
}

#job-field{
	float:left;
	margin-right:10px;
	color:#D18470;
}

.job-title-field{
	width:100%;
}

.job-field-select{
	width:100%;
}

.job-description-field{
	width:100%;
	height:400px;
}

.job-link-field{
	width:100%;
}

.job-contact_info-field{
	width:100%;
}


#new-job-submit{
	float:right;
}

#job-datetime-created{
	font-size:12px;
	color:#666;
}

a.post-jobs{
	float:right;
	color:#D18470;
}

#job-datetime-created-show{
	float:right;
	font-size:12px;
	color:#666;
}

#link-heading-show{
	margin-bottom:20px;
}
