// Place all the styles related to the Loops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loop-title{
	color:#0088CC;
	font-size:13px;
}

#loop-time-ago{
	display:inline;
	color:RGBA(182.00, 182.00, 188.00, 1.00);
	font-size:14px;

}

.loop-field{
	width:100%;
}

#loop-edit-button{
	position:relative;
	display:inline;
	top:-5px;
}


.add-contact-to-loop{
	margin-left:15px;
}

#loop-dashboard-addcontact{
	padding:5px;
	float:left;
}

#loop-dashboard-editcontact{
	padding:5px;
	float:left;
}

#loop-dashboard-deletecontact{
	padding:5px;
	float:left;
}

#loop-dashboard-back{
	padding:5px;
	float:left;
}


.loop-name-css{
	font-size:20px;
	color:white;
}

.loop-name-css:hover{
	text-decoration:none;
}

.contact-list{
	margin-top:20px;
	color:white;
	border-radius:5px;
	height:auto;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
}

.loop-name-css{
	font-size:16px;
	color:black;
}

.loop-name-css:hover{
	text-decoration:none;
}

#loop-index-edit{
	margin-right:15px;
	float:right;
}

#loop-index-delete{
	float:right;
}

.dashboard-index-logo{
	padding:10px;
	float:left;
}

.dashboard-show-logo{
	padding:10px;
	float:left;
}

.whatsnew-heading{
	margin-top:20px;
	font-size:24px;
	color:RGBA(188.00, 182.00, 182.00, 1.00);
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	line-height:20px;
}

.how-we-met-wrapper{
	font-size:16px;
	margin-top:10px;
	color:#B6B6B6;
	margin-bottom:20px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	line-height:20px;
}

#how-we-met-firstname{
	padding:1px;
	color:#444444;
	display:inline;
	margin:5px;
}

#how-we-met-location{
	padding:2px;
	color:#444444;
	display:inline;
	margin-bottom:5px;
}

#how-we-met-date{
	padding:2px;
	color:#444444;
	display:inline;
}

.first-impression{
	color:#444444;
	font-size:16px;
	line-height:24px;
}

.show-wrapper{
	padding:20px;
	background:white;
}

.title{
	color:rgba(100, 100, 100, 1.000);
	font-size:24px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
}

.heading-notes{
	color:RGBA(185.00, 182.00, 182.00, 1.00);
	font-size:24px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	margin-bottom:20px;
}

#contact-list-heading{
	margin-top:20px;
	color:RGBA(185.00, 182.00, 182.00, 1.00);
	font-size:24px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
}

#contact-heading{
	color:rgba(100, 100, 100, 1.000);
	font-size:24px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	margin-bottom:20px;
}

#contact-field-css{
	font-size:16px;
	color:#B6B6B6;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
}

#contact-answer-css{
	font-size:16px;
	color:rgba(100, 100, 100, 1.000);
	font-weight:200;
	font-family: 'Roboto', sans-serif;
}

#met-date{
	color:RGBA(182.00, 182.00, 188.00, 1.00);
	display:inline;
}

.whatsnew-part1{
	height:600px;
	margin-top:20px;
	background:RGBA(250.00, 250.00, 250.00, 1.00);
	border:1px solid lightgray;
}

.loop-field2{
	background:RGBA(179.00, 214.00, 237.00, 0.5);
	font-size:16px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	color:RGBA(0.00, 0.00, 0.00, 1.00);
	width:100%;
	border-radius:0px;
	border:none;
	box-shadow:none !important;
	outline: none !important;
	border-bottom:2px solid RGBA(51.00, 139.00, 201.00, 1.00);
}

.form-css{
	margin-top:20px;
	font-size:16px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
}

.datepicker{
	background:RGBA(179.00, 214.00, 237.00, 1.00);
	font-size:16px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	color:RGBA(0.00, 0.00, 0.00, 1.00);
	width:100%;
	border-radius:0px;
	border:none;
	box-shadow:none !important;
	outline: none !important;
	border-bottom:2px solid RGBA(51.00, 139.00, 201.00, 1.00);
}