// Place all the styles related to the Loops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loop-title{
	color:#0088CC;
	font-size:13px;
}

#loop-time-ago{
	color:#666666;
}

.loop-field{
	width:100%;
}

#loop-edit-button{
	position:relative;
	display:inline;
	top:-5px;
}


.add-contact-to-loop{
	margin-left:15px;
}

#loop-dashboard-addcontact{
	padding:5px;
	float:left;
}

#loop-dashboard-editcontact{
	padding:5px;
	float:left;
}

.loop-name-css{
	font-size:20px;
	color:white;
}

.loop-name-css:hover{
	text-decoration:none;
}

.contact-list{
	margin-top:20px;
	background:#F1F1F1;
	border:1px solid lightgray;
	padding:10px;
	color:white;
	border-radius:5px;
	height:auto;
}

.loop-name-css{
	font-size:16px;
	color:black;
}

.loop-name-css:hover{
	text-decoration:none;
}

#loop-index-edit{
	float:right;
}

.dashboard-index-logo{
	padding:10px;
	float:left;
}

.dashboard-show-logo{
	padding:10px;
	float:left;
}

#whatsnew-heading{
	margin-top:20px;
	background:#0088CC;
	border-radius:5px;
	height:100px;
	border:1px solid lightgray;
	color:white;
}

.how-we-met-wrapper{
	padding:20px;
	font-size:16px;
	margin-top:10px;
	color:#B6B6B6;
	margin-bottom:20px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	line-height:20px;
}

#how-we-met-firstname{
	padding:1px;
	color:#444444;
	display:inline;
	margin:5px;
}

#how-we-met-location{
	padding:2px;
	color:#444444;
	display:inline;
	margin-bottom:5px;
}

#how-we-met-date{
	padding:2px;
	color:#444444;
	display:inline;
}

.first-impression{
	color:#444444;
	font-size:16px;
	line-height:24px;
}

.show-wrapper{
	padding:20px;
	background:white;
}

.title{
	color:rgba(100, 100, 100, 1.000);
	font-size:24px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
}

.heading-notes{
	color:rgba(100, 100, 100, 1.000);
	font-size:24px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	margin-bottom:20px;
}

#contact-heading{
	color:rgba(100, 100, 100, 1.000);
	font-size:24px;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
	margin-bottom:20px;
}

#contact-field-css{
	font-size:16px;
	color:#B6B6B6;
	font-weight:200;
	font-family: 'Roboto', sans-serif;
}

#contact-answer-css{
	font-size:16px;
	color:rgba(100, 100, 100, 1.000);
	font-weight:200;
	font-family: 'Roboto', sans-serif;
}