// Place all the styles related to the Loops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#loop-name{
	color:#0088CC;
	font-size:16px;
	font-weight:bold;
}

#loop-title{
	color:#CD816E;
}
#loop-time-ago{
	color:#666666;
	float:right;
}

#add-contact-to-loop{
	float:right;
	color:#D18470;
}

.add-contact-to-loop{
	color:#D18470;
}
.loop-field{
	width:100%;
}

