
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  height:1200px;
}

#wrapper{
   min-height:100%;
   position:relative;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  padding:5px;
  display:auto;
  color: white;
  background:#0088CC;
}

.field_with_errors {
}

#error_explanation {
  width: auto;
  background-color: white;
  h2 {
    text-align: left;
    padding: 5px;
    font-size: 12px;
    color: red;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
